piper_runtime/en_US-libritts_r-medium.onnx
piper_runtime/en_US-libritts_r-medium.onnx.json
piper_runtime/espeak-ng.dll
piper_runtime/libtashkeel_model.ort
piper_runtime/onnxruntime_providers_shared.dll
piper_runtime/onnxruntime.dll
piper_runtime/piper_phonemize.dll
piper_runtime/piper_windows_amd64.zip
piper_runtime/piper.exe
piper_runtime/espeak-ng-data/af_dict
piper_runtime/espeak-ng-data/am_dict
piper_runtime/espeak-ng-data/an_dict
piper_runtime/espeak-ng-data/ar_dict
piper_runtime/espeak-ng-data/as_dict
piper_runtime/espeak-ng-data/az_dict
piper_runtime/espeak-ng-data/ba_dict
piper_runtime/espeak-ng-data/be_dict
piper_runtime/espeak-ng-data/bg_dict
piper_runtime/espeak-ng-data/bn_dict
piper_runtime/espeak-ng-data/bpy_dict
piper_runtime/espeak-ng-data/bs_dict
piper_runtime/espeak-ng-data/ca_dict
piper_runtime/espeak-ng-data/chr_dict
piper_runtime/espeak-ng-data/cmn_dict
piper_runtime/espeak-ng-data/cs_dict
piper_runtime/espeak-ng-data/cv_dict
piper_runtime/espeak-ng-data/cy_dict
piper_runtime/espeak-ng-data/da_dict
piper_runtime/espeak-ng-data/de_dict
piper_runtime/espeak-ng-data/el_dict
piper_runtime/espeak-ng-data/en_dict
piper_runtime/espeak-ng-data/eo_dict
piper_runtime/espeak-ng-data/es_dict
piper_runtime/espeak-ng-data/et_dict
piper_runtime/espeak-ng-data/eu_dict
piper_runtime/espeak-ng-data/fa_dict
piper_runtime/espeak-ng-data/fi_dict
piper_runtime/espeak-ng-data/fr_dict
piper_runtime/espeak-ng-data/ga_dict
piper_runtime/espeak-ng-data/gd_dict
piper_runtime/espeak-ng-data/gn_dict
piper_runtime/espeak-ng-data/grc_dict
piper_runtime/espeak-ng-data/gu_dict
piper_runtime/espeak-ng-data/hak_dict
piper_runtime/espeak-ng-data/haw_dict
piper_runtime/espeak-ng-data/he_dict
piper_runtime/espeak-ng-data/hi_dict
piper_runtime/espeak-ng-data/hr_dict
piper_runtime/espeak-ng-data/ht_dict
piper_runtime/espeak-ng-data/hu_dict
piper_runtime/espeak-ng-data/hy_dict
piper_runtime/espeak-ng-data/ia_dict
piper_runtime/espeak-ng-data/id_dict
piper_runtime/espeak-ng-data/intonations
piper_runtime/espeak-ng-data/io_dict
piper_runtime/espeak-ng-data/is_dict
piper_runtime/espeak-ng-data/it_dict
piper_runtime/espeak-ng-data/ja_dict
piper_runtime/espeak-ng-data/jbo_dict
piper_runtime/espeak-ng-data/ka_dict
piper_runtime/espeak-ng-data/kk_dict
piper_runtime/espeak-ng-data/kl_dict
piper_runtime/espeak-ng-data/kn_dict
piper_runtime/espeak-ng-data/ko_dict
piper_runtime/espeak-ng-data/kok_dict
piper_runtime/espeak-ng-data/ku_dict
piper_runtime/espeak-ng-data/ky_dict
piper_runtime/espeak-ng-data/la_dict
piper_runtime/espeak-ng-data/lb_dict
piper_runtime/espeak-ng-data/lfn_dict
piper_runtime/espeak-ng-data/lt_dict
piper_runtime/espeak-ng-data/lv_dict
piper_runtime/espeak-ng-data/mi_dict
piper_runtime/espeak-ng-data/mk_dict
piper_runtime/espeak-ng-data/ml_dict
piper_runtime/espeak-ng-data/mr_dict
piper_runtime/espeak-ng-data/ms_dict
piper_runtime/espeak-ng-data/mt_dict
piper_runtime/espeak-ng-data/mto_dict
piper_runtime/espeak-ng-data/my_dict
piper_runtime/espeak-ng-data/nci_dict
piper_runtime/espeak-ng-data/ne_dict
piper_runtime/espeak-ng-data/nl_dict
piper_runtime/espeak-ng-data/no_dict
piper_runtime/espeak-ng-data/nog_dict
piper_runtime/espeak-ng-data/om_dict
piper_runtime/espeak-ng-data/or_dict
piper_runtime/espeak-ng-data/pa_dict
piper_runtime/espeak-ng-data/pap_dict
piper_runtime/espeak-ng-data/phondata
piper_runtime/espeak-ng-data/phondata-manifest
piper_runtime/espeak-ng-data/phonindex
piper_runtime/espeak-ng-data/phontab
piper_runtime/espeak-ng-data/piqd_dict
piper_runtime/espeak-ng-data/pl_dict
piper_runtime/espeak-ng-data/pt_dict
piper_runtime/espeak-ng-data/py_dict
piper_runtime/espeak-ng-data/qdb_dict
piper_runtime/espeak-ng-data/qu_dict
piper_runtime/espeak-ng-data/quc_dict
piper_runtime/espeak-ng-data/qya_dict
piper_runtime/espeak-ng-data/ro_dict
piper_runtime/espeak-ng-data/ru_dict
piper_runtime/espeak-ng-data/sd_dict
piper_runtime/espeak-ng-data/shn_dict
piper_runtime/espeak-ng-data/si_dict
piper_runtime/espeak-ng-data/sjn_dict
piper_runtime/espeak-ng-data/sk_dict
piper_runtime/espeak-ng-data/sl_dict
piper_runtime/espeak-ng-data/smj_dict
piper_runtime/espeak-ng-data/sq_dict
piper_runtime/espeak-ng-data/sr_dict
piper_runtime/espeak-ng-data/sv_dict
piper_runtime/espeak-ng-data/sw_dict
piper_runtime/espeak-ng-data/ta_dict
piper_runtime/espeak-ng-data/te_dict
piper_runtime/espeak-ng-data/th_dict
piper_runtime/espeak-ng-data/tk_dict
piper_runtime/espeak-ng-data/tn_dict
piper_runtime/espeak-ng-data/tr_dict
piper_runtime/espeak-ng-data/tt_dict
piper_runtime/espeak-ng-data/ug_dict
piper_runtime/espeak-ng-data/uk_dict
piper_runtime/espeak-ng-data/ur_dict
piper_runtime/espeak-ng-data/uz_dict
piper_runtime/espeak-ng-data/vi_dict
piper_runtime/espeak-ng-data/yue_dict
piper_runtime/espeak-ng-data/lang/eu
piper_runtime/espeak-ng-data/lang/ko
piper_runtime/espeak-ng-data/lang/qu
piper_runtime/espeak-ng-data/lang/aav/vi
piper_runtime/espeak-ng-data/lang/aav/vi-VN-x-central
piper_runtime/espeak-ng-data/lang/aav/vi-VN-x-south
piper_runtime/espeak-ng-data/lang/art/eo
piper_runtime/espeak-ng-data/lang/art/ia
piper_runtime/espeak-ng-data/lang/art/io
piper_runtime/espeak-ng-data/lang/art/jbo
piper_runtime/espeak-ng-data/lang/art/lfn
piper_runtime/espeak-ng-data/lang/art/piqd
piper_runtime/espeak-ng-data/lang/art/py
piper_runtime/espeak-ng-data/lang/art/qdb
piper_runtime/espeak-ng-data/lang/art/qya
piper_runtime/espeak-ng-data/lang/art/sjn
piper_runtime/espeak-ng-data/lang/azc/nci
piper_runtime/espeak-ng-data/lang/bat/lt
piper_runtime/espeak-ng-data/lang/bat/ltg
piper_runtime/espeak-ng-data/lang/bat/lv
piper_runtime/espeak-ng-data/lang/bnt/sw
piper_runtime/espeak-ng-data/lang/bnt/tn
piper_runtime/espeak-ng-data/lang/ccs/ka
piper_runtime/espeak-ng-data/lang/cel/cy
piper_runtime/espeak-ng-data/lang/cel/ga
piper_runtime/espeak-ng-data/lang/cel/gd
piper_runtime/espeak-ng-data/lang/cus/om
piper_runtime/espeak-ng-data/lang/dra/kn
piper_runtime/espeak-ng-data/lang/dra/ml
piper_runtime/espeak-ng-data/lang/dra/ta
piper_runtime/espeak-ng-data/lang/dra/te
piper_runtime/espeak-ng-data/lang/esx/kl
piper_runtime/espeak-ng-data/lang/gmq/da
piper_runtime/espeak-ng-data/lang/gmq/is
piper_runtime/espeak-ng-data/lang/gmq/nb
piper_runtime/espeak-ng-data/lang/gmq/sv
piper_runtime/espeak-ng-data/lang/gmw/af
piper_runtime/espeak-ng-data/lang/gmw/de
piper_runtime/espeak-ng-data/lang/gmw/en
piper_runtime/espeak-ng-data/lang/gmw/en-029
piper_runtime/espeak-ng-data/lang/gmw/en-GB-scotland
piper_runtime/espeak-ng-data/lang/gmw/en-GB-x-gbclan
piper_runtime/espeak-ng-data/lang/gmw/en-GB-x-gbcwmd
piper_runtime/espeak-ng-data/lang/gmw/en-GB-x-rp
piper_runtime/espeak-ng-data/lang/gmw/en-US
piper_runtime/espeak-ng-data/lang/gmw/en-US-nyc
piper_runtime/espeak-ng-data/lang/gmw/lb
piper_runtime/espeak-ng-data/lang/gmw/nl
piper_runtime/espeak-ng-data/lang/grk/el
piper_runtime/espeak-ng-data/lang/grk/grc
piper_runtime/espeak-ng-data/lang/inc/as
piper_runtime/espeak-ng-data/lang/inc/bn
piper_runtime/espeak-ng-data/lang/inc/bpy
piper_runtime/espeak-ng-data/lang/inc/gu
piper_runtime/espeak-ng-data/lang/inc/hi
piper_runtime/espeak-ng-data/lang/inc/kok
piper_runtime/espeak-ng-data/lang/inc/mr
piper_runtime/espeak-ng-data/lang/inc/ne
piper_runtime/espeak-ng-data/lang/inc/or
piper_runtime/espeak-ng-data/lang/inc/pa
piper_runtime/espeak-ng-data/lang/inc/sd
piper_runtime/espeak-ng-data/lang/inc/si
piper_runtime/espeak-ng-data/lang/inc/ur
piper_runtime/espeak-ng-data/lang/ine/hy
piper_runtime/espeak-ng-data/lang/ine/hyw
piper_runtime/espeak-ng-data/lang/ine/sq
piper_runtime/espeak-ng-data/lang/ira/fa
piper_runtime/espeak-ng-data/lang/ira/fa-Latn
piper_runtime/espeak-ng-data/lang/ira/ku
piper_runtime/espeak-ng-data/lang/iro/chr
piper_runtime/espeak-ng-data/lang/itc/la
piper_runtime/espeak-ng-data/lang/jpx/ja
piper_runtime/espeak-ng-data/lang/map/haw
piper_runtime/espeak-ng-data/lang/miz/mto
piper_runtime/espeak-ng-data/lang/myn/quc
piper_runtime/espeak-ng-data/lang/poz/id
piper_runtime/espeak-ng-data/lang/poz/mi
piper_runtime/espeak-ng-data/lang/poz/ms
piper_runtime/espeak-ng-data/lang/roa/an
piper_runtime/espeak-ng-data/lang/roa/ca
piper_runtime/espeak-ng-data/lang/roa/es
piper_runtime/espeak-ng-data/lang/roa/es-419
piper_runtime/espeak-ng-data/lang/roa/fr
piper_runtime/espeak-ng-data/lang/roa/fr-BE
piper_runtime/espeak-ng-data/lang/roa/fr-CH
piper_runtime/espeak-ng-data/lang/roa/ht
piper_runtime/espeak-ng-data/lang/roa/it
piper_runtime/espeak-ng-data/lang/roa/pap
piper_runtime/espeak-ng-data/lang/roa/pt
piper_runtime/espeak-ng-data/lang/roa/pt-BR
piper_runtime/espeak-ng-data/lang/roa/ro
piper_runtime/espeak-ng-data/lang/sai/gn
piper_runtime/espeak-ng-data/lang/sem/am
piper_runtime/espeak-ng-data/lang/sem/ar
piper_runtime/espeak-ng-data/lang/sem/he
piper_runtime/espeak-ng-data/lang/sem/mt
piper_runtime/espeak-ng-data/lang/sit/cmn
piper_runtime/espeak-ng-data/lang/sit/cmn-Latn-pinyin
piper_runtime/espeak-ng-data/lang/sit/hak
piper_runtime/espeak-ng-data/lang/sit/my
piper_runtime/espeak-ng-data/lang/sit/yue
piper_runtime/espeak-ng-data/lang/sit/yue-Latn-jyutping
piper_runtime/espeak-ng-data/lang/tai/shn
piper_runtime/espeak-ng-data/lang/tai/th
piper_runtime/espeak-ng-data/lang/trk/az
piper_runtime/espeak-ng-data/lang/trk/ba
piper_runtime/espeak-ng-data/lang/trk/cv
piper_runtime/espeak-ng-data/lang/trk/kk
piper_runtime/espeak-ng-data/lang/trk/ky
piper_runtime/espeak-ng-data/lang/trk/nog
piper_runtime/espeak-ng-data/lang/trk/tk
piper_runtime/espeak-ng-data/lang/trk/tr
piper_runtime/espeak-ng-data/lang/trk/tt
piper_runtime/espeak-ng-data/lang/trk/ug
piper_runtime/espeak-ng-data/lang/trk/uz
piper_runtime/espeak-ng-data/lang/urj/et
piper_runtime/espeak-ng-data/lang/urj/fi
piper_runtime/espeak-ng-data/lang/urj/hu
piper_runtime/espeak-ng-data/lang/urj/smj
piper_runtime/espeak-ng-data/lang/zle/be
piper_runtime/espeak-ng-data/lang/zle/ru
piper_runtime/espeak-ng-data/lang/zle/ru-cl
piper_runtime/espeak-ng-data/lang/zle/ru-LV
piper_runtime/espeak-ng-data/lang/zle/uk
piper_runtime/espeak-ng-data/lang/zls/bg
piper_runtime/espeak-ng-data/lang/zls/bs
piper_runtime/espeak-ng-data/lang/zls/hr
piper_runtime/espeak-ng-data/lang/zls/mk
piper_runtime/espeak-ng-data/lang/zls/sl
piper_runtime/espeak-ng-data/lang/zls/sr
piper_runtime/espeak-ng-data/lang/zlw/cs
piper_runtime/espeak-ng-data/lang/zlw/pl
piper_runtime/espeak-ng-data/lang/zlw/sk
piper_runtime/espeak-ng-data/voices/!v/adam
piper_runtime/espeak-ng-data/voices/!v/Alex
piper_runtime/espeak-ng-data/voices/!v/Alicia
piper_runtime/espeak-ng-data/voices/!v/Andrea
piper_runtime/espeak-ng-data/voices/!v/Andy
piper_runtime/espeak-ng-data/voices/!v/anika
piper_runtime/espeak-ng-data/voices/!v/anikaRobot
piper_runtime/espeak-ng-data/voices/!v/Annie
piper_runtime/espeak-ng-data/voices/!v/announcer
piper_runtime/espeak-ng-data/voices/!v/antonio
piper_runtime/espeak-ng-data/voices/!v/AnxiousAndy
piper_runtime/espeak-ng-data/voices/!v/aunty
piper_runtime/espeak-ng-data/voices/!v/belinda
piper_runtime/espeak-ng-data/voices/!v/benjamin
piper_runtime/espeak-ng-data/voices/!v/boris
piper_runtime/espeak-ng-data/voices/!v/caleb
piper_runtime/espeak-ng-data/voices/!v/croak
piper_runtime/espeak-ng-data/voices/!v/david
piper_runtime/espeak-ng-data/voices/!v/Demonic
piper_runtime/espeak-ng-data/voices/!v/Denis
piper_runtime/espeak-ng-data/voices/!v/Diogo
piper_runtime/espeak-ng-data/voices/!v/ed
piper_runtime/espeak-ng-data/voices/!v/edward
piper_runtime/espeak-ng-data/voices/!v/edward2
piper_runtime/espeak-ng-data/voices/!v/f1
piper_runtime/espeak-ng-data/voices/!v/f2
piper_runtime/espeak-ng-data/voices/!v/f3
piper_runtime/espeak-ng-data/voices/!v/f4
piper_runtime/espeak-ng-data/voices/!v/f5
piper_runtime/espeak-ng-data/voices/!v/fast
piper_runtime/espeak-ng-data/voices/!v/Gene
piper_runtime/espeak-ng-data/voices/!v/Gene2
piper_runtime/espeak-ng-data/voices/!v/grandma
piper_runtime/espeak-ng-data/voices/!v/grandpa
piper_runtime/espeak-ng-data/voices/!v/gustave
piper_runtime/espeak-ng-data/voices/!v/Henrique
piper_runtime/espeak-ng-data/voices/!v/Hugo
piper_runtime/espeak-ng-data/voices/!v/ian
piper_runtime/espeak-ng-data/voices/!v/iven
piper_runtime/espeak-ng-data/voices/!v/iven2
piper_runtime/espeak-ng-data/voices/!v/iven3
piper_runtime/espeak-ng-data/voices/!v/iven4
piper_runtime/espeak-ng-data/voices/!v/Jacky
piper_runtime/espeak-ng-data/voices/!v/john
piper_runtime/espeak-ng-data/voices/!v/kaukovalta
piper_runtime/espeak-ng-data/voices/!v/klatt
piper_runtime/espeak-ng-data/voices/!v/klatt2
piper_runtime/espeak-ng-data/voices/!v/klatt3
piper_runtime/espeak-ng-data/voices/!v/klatt4
piper_runtime/espeak-ng-data/voices/!v/klatt5
piper_runtime/espeak-ng-data/voices/!v/klatt6
piper_runtime/espeak-ng-data/voices/!v/Lee
piper_runtime/espeak-ng-data/voices/!v/linda
piper_runtime/espeak-ng-data/voices/!v/m1
piper_runtime/espeak-ng-data/voices/!v/m2
piper_runtime/espeak-ng-data/voices/!v/m3
piper_runtime/espeak-ng-data/voices/!v/m4
piper_runtime/espeak-ng-data/voices/!v/m5
piper_runtime/espeak-ng-data/voices/!v/m6
piper_runtime/espeak-ng-data/voices/!v/m7
piper_runtime/espeak-ng-data/voices/!v/m8
piper_runtime/espeak-ng-data/voices/!v/marcelo
piper_runtime/espeak-ng-data/voices/!v/Marco
piper_runtime/espeak-ng-data/voices/!v/Mario
piper_runtime/espeak-ng-data/voices/!v/max
piper_runtime/espeak-ng-data/voices/!v/Michael
piper_runtime/espeak-ng-data/voices/!v/michel
piper_runtime/espeak-ng-data/voices/!v/miguel
piper_runtime/espeak-ng-data/voices/!v/Mike
piper_runtime/espeak-ng-data/voices/!v/mike2
piper_runtime/espeak-ng-data/voices/!v/Mr serious
piper_runtime/espeak-ng-data/voices/!v/Nguyen
piper_runtime/espeak-ng-data/voices/!v/norbert
piper_runtime/espeak-ng-data/voices/!v/pablo
piper_runtime/espeak-ng-data/voices/!v/paul
piper_runtime/espeak-ng-data/voices/!v/pedro
piper_runtime/espeak-ng-data/voices/!v/quincy
piper_runtime/espeak-ng-data/voices/!v/Reed
piper_runtime/espeak-ng-data/voices/!v/RicishayMax
piper_runtime/espeak-ng-data/voices/!v/RicishayMax2
piper_runtime/espeak-ng-data/voices/!v/RicishayMax3
piper_runtime/espeak-ng-data/voices/!v/rob
piper_runtime/espeak-ng-data/voices/!v/robert
piper_runtime/espeak-ng-data/voices/!v/robosoft
piper_runtime/espeak-ng-data/voices/!v/robosoft2
piper_runtime/espeak-ng-data/voices/!v/robosoft3
piper_runtime/espeak-ng-data/voices/!v/robosoft4
piper_runtime/espeak-ng-data/voices/!v/robosoft5
piper_runtime/espeak-ng-data/voices/!v/robosoft6
piper_runtime/espeak-ng-data/voices/!v/robosoft7
piper_runtime/espeak-ng-data/voices/!v/robosoft8
piper_runtime/espeak-ng-data/voices/!v/sandro
piper_runtime/espeak-ng-data/voices/!v/shelby
piper_runtime/espeak-ng-data/voices/!v/steph
piper_runtime/espeak-ng-data/voices/!v/steph2
piper_runtime/espeak-ng-data/voices/!v/steph3
piper_runtime/espeak-ng-data/voices/!v/Storm
piper_runtime/espeak-ng-data/voices/!v/travis
piper_runtime/espeak-ng-data/voices/!v/Tweaky
piper_runtime/espeak-ng-data/voices/!v/UniRobot
piper_runtime/espeak-ng-data/voices/!v/victor
piper_runtime/espeak-ng-data/voices/!v/whisper
piper_runtime/espeak-ng-data/voices/!v/whisperf
piper_runtime/espeak-ng-data/voices/!v/zac
piper_runtime/ffmpeg/ffmpeg-8.0-essentials_build/LICENSE
piper_runtime/ffmpeg/ffmpeg-8.0-essentials_build/README.txt
piper_runtime/ffmpeg/ffmpeg-8.0-essentials_build/bin/ffmpeg.exe
piper_runtime/ffmpeg/ffmpeg-8.0-essentials_build/bin/ffplay.exe
piper_runtime/ffmpeg/ffmpeg-8.0-essentials_build/bin/ffprobe.exe
piper_runtime/ffmpeg/ffmpeg-8.0-essentials_build/doc/bootstrap.min.css
piper_runtime/ffmpeg/ffmpeg-8.0-essentials_build/doc/community.html
piper_runtime/ffmpeg/ffmpeg-8.0-essentials_build/doc/default.css
piper_runtime/ffmpeg/ffmpeg-8.0-essentials_build/doc/developer.html
piper_runtime/ffmpeg/ffmpeg-8.0-essentials_build/doc/faq.html
piper_runtime/ffmpeg/ffmpeg-8.0-essentials_build/doc/fate.html
piper_runtime/ffmpeg/ffmpeg-8.0-essentials_build/doc/ffmpeg-all.html
piper_runtime/ffmpeg/ffmpeg-8.0-essentials_build/doc/ffmpeg-bitstream-filters.html
piper_runtime/ffmpeg/ffmpeg-8.0-essentials_build/doc/ffmpeg-codecs.html
piper_runtime/ffmpeg/ffmpeg-8.0-essentials_build/doc/ffmpeg-devices.html
piper_runtime/ffmpeg/ffmpeg-8.0-essentials_build/doc/ffmpeg-filters.html
piper_runtime/ffmpeg/ffmpeg-8.0-essentials_build/doc/ffmpeg-formats.html
piper_runtime/ffmpeg/ffmpeg-8.0-essentials_build/doc/ffmpeg-protocols.html
piper_runtime/ffmpeg/ffmpeg-8.0-essentials_build/doc/ffmpeg-resampler.html
piper_runtime/ffmpeg/ffmpeg-8.0-essentials_build/doc/ffmpeg-scaler.html
piper_runtime/ffmpeg/ffmpeg-8.0-essentials_build/doc/ffmpeg-utils.html
piper_runtime/ffmpeg/ffmpeg-8.0-essentials_build/doc/ffmpeg.html
piper_runtime/ffmpeg/ffmpeg-8.0-essentials_build/doc/ffplay-all.html
piper_runtime/ffmpeg/ffmpeg-8.0-essentials_build/doc/ffplay.html
piper_runtime/ffmpeg/ffmpeg-8.0-essentials_build/doc/ffprobe-all.html
piper_runtime/ffmpeg/ffmpeg-8.0-essentials_build/doc/ffprobe.html
piper_runtime/ffmpeg/ffmpeg-8.0-essentials_build/doc/general.html
piper_runtime/ffmpeg/ffmpeg-8.0-essentials_build/doc/git-howto.html
piper_runtime/ffmpeg/ffmpeg-8.0-essentials_build/doc/libavcodec.html
piper_runtime/ffmpeg/ffmpeg-8.0-essentials_build/doc/libavdevice.html
piper_runtime/ffmpeg/ffmpeg-8.0-essentials_build/doc/libavfilter.html
piper_runtime/ffmpeg/ffmpeg-8.0-essentials_build/doc/libavformat.html
piper_runtime/ffmpeg/ffmpeg-8.0-essentials_build/doc/libavutil.html
piper_runtime/ffmpeg/ffmpeg-8.0-essentials_build/doc/libswresample.html
piper_runtime/ffmpeg/ffmpeg-8.0-essentials_build/doc/libswscale.html
piper_runtime/ffmpeg/ffmpeg-8.0-essentials_build/doc/mailing-list-faq.html
piper_runtime/ffmpeg/ffmpeg-8.0-essentials_build/doc/nut.html
piper_runtime/ffmpeg/ffmpeg-8.0-essentials_build/doc/platform.html
piper_runtime/ffmpeg/ffmpeg-8.0-essentials_build/doc/style.min.css
piper_runtime/ffmpeg/ffmpeg-8.0-essentials_build/presets/libvpx-360p.ffpreset
piper_runtime/ffmpeg/ffmpeg-8.0-essentials_build/presets/libvpx-720p.ffpreset
piper_runtime/ffmpeg/ffmpeg-8.0-essentials_build/presets/libvpx-720p50_60.ffpreset
piper_runtime/ffmpeg/ffmpeg-8.0-essentials_build/presets/libvpx-1080p.ffpreset
piper_runtime/ffmpeg/ffmpeg-8.0-essentials_build/presets/libvpx-1080p50_60.ffpreset
__pycache__/FinalAnimation.cpython-313.pyc
piper_runtime/ffmpeg/LICENSE
piper_runtime/ffmpeg/README.txt
piper_runtime/ffmpeg/bin/ffmpeg.exe
piper_runtime/ffmpeg/bin/ffplay.exe
piper_runtime/ffmpeg/bin/ffprobe.exe
piper_runtime/ffmpeg/doc/bootstrap.min.css
piper_runtime/ffmpeg/doc/community.html
piper_runtime/ffmpeg/doc/default.css
piper_runtime/ffmpeg/doc/developer.html
piper_runtime/ffmpeg/doc/faq.html
piper_runtime/ffmpeg/doc/fate.html
piper_runtime/ffmpeg/doc/ffmpeg-all.html
piper_runtime/ffmpeg/doc/ffmpeg-bitstream-filters.html
piper_runtime/ffmpeg/doc/ffmpeg-codecs.html
piper_runtime/ffmpeg/doc/ffmpeg-devices.html
piper_runtime/ffmpeg/doc/ffmpeg-filters.html
piper_runtime/ffmpeg/doc/ffmpeg-formats.html
piper_runtime/ffmpeg/doc/ffmpeg-protocols.html
piper_runtime/ffmpeg/doc/ffmpeg-resampler.html
piper_runtime/ffmpeg/doc/ffmpeg-scaler.html
piper_runtime/ffmpeg/doc/ffmpeg-utils.html
piper_runtime/ffmpeg/doc/ffmpeg.html
piper_runtime/ffmpeg/doc/ffplay-all.html
piper_runtime/ffmpeg/doc/ffplay.html
piper_runtime/ffmpeg/doc/ffprobe-all.html
piper_runtime/ffmpeg/doc/ffprobe.html
piper_runtime/ffmpeg/doc/general.html
piper_runtime/ffmpeg/doc/git-howto.html
piper_runtime/ffmpeg/doc/libavcodec.html
piper_runtime/ffmpeg/doc/libavdevice.html
piper_runtime/ffmpeg/doc/libavfilter.html
piper_runtime/ffmpeg/doc/libavformat.html
piper_runtime/ffmpeg/doc/libavutil.html
piper_runtime/ffmpeg/doc/libswresample.html
piper_runtime/ffmpeg/doc/libswscale.html
piper_runtime/ffmpeg/doc/mailing-list-faq.html
piper_runtime/ffmpeg/doc/nut.html
piper_runtime/ffmpeg/doc/platform.html
piper_runtime/ffmpeg/doc/style.min.css
piper_runtime/ffmpeg/presets/libvpx-360p.ffpreset
piper_runtime/ffmpeg/presets/libvpx-720p.ffpreset
piper_runtime/ffmpeg/presets/libvpx-720p50_60.ffpreset
piper_runtime/ffmpeg/presets/libvpx-1080p.ffpreset
piper_runtime/ffmpeg/presets/libvpx-1080p50_60.ffpreset
media/Tex/2b7ffb3c38a5a6e0.svg
media/Tex/2b7ffb3c38a5a6e0.tex
media/Tex/6ecf9f51170c1a70.svg
media/Tex/6ecf9f51170c1a70.tex
media/Tex/8de07035cb22c903.svg
media/Tex/8de07035cb22c903.tex
media/Tex/9b8b8986c29f9f57.svg
media/Tex/9b8b8986c29f9f57.tex
media/Tex/31d3165490bf3404.svg
media/Tex/31d3165490bf3404.tex
media/Tex/71a96956289127c6.svg
media/Tex/71a96956289127c6.tex
media/Tex/605ef07ff2b273f2.svg
media/Tex/605ef07ff2b273f2.tex
media/Tex/5683d89f396abe50.svg
media/Tex/5683d89f396abe50.tex
media/Tex/86106a6075e49ee9.svg
media/Tex/86106a6075e49ee9.tex
media/Tex/91024d3946a1b406.svg
media/Tex/91024d3946a1b406.tex
media/Tex/b330e3953bf029d7.svg
media/Tex/b330e3953bf029d7.tex
media/Tex/ba96de15f98acfc8.svg
media/Tex/ba96de15f98acfc8.tex
media/Tex/bb1ae460819ebf45.svg
media/Tex/bb1ae460819ebf45.tex
media/Tex/e443e1d87294b7de.svg
media/Tex/e443e1d87294b7de.tex
media/voiceovers/here-is-the-transformation-framework-for-a-new-5f8e860f.wav
